<header *ngIf="authState.user">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">GStock</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Accueil</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" routerLink="/add">Ajouter un produit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/category">Catégories</a>
          </li>
      
          <form class="">
            <a class="btn btn-outline-success" routerLink="/search" role="button">Recherche</a>
          </form>
        </ul>
        <div class="nav-item ">
          <button class="btn btn-danger" *ngIf="authState.user" (click)="logout()">Déconnexion</button>
          <a class="btn btn-primary" routerLink="/login" *ngIf="!authState.user">Connexion</a>
        </div>
      </div>
    </div>
  </nav>

</header>