
<div class="container">
  <div class="row">


    <h4>Filtrer par categorie</h4>
    <div>
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 18rem;"
        id="category" [(ngModel)]="selectedCategory" (change)="fetchProducts()">
        <option *ngFor="let item of categories" [ngValue]="item">{{item.designation}}</option>
      </select>
    </div>


    <div>
      <h4 *ngIf="products">Liste de Produits</h4>

      <table class="table table-hover" *ngIf="products">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <!-- <th colspan="2">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price|number:'0.2'}} €</td>
            <!-- <td><button class="btn-info btn">Modifier</button></td>
          <td><button class="btn-danger btn">Supprimer</button></td>
          <td><button class="btn-success btn">Commander</button></td> -->
        </tbody>
      </table>
    </div>

  </div>
</div>