
<div class="mx-auto w-75 mt-5">
  <div class="card">
      <div class="card-header">
          <h1 class="card-title">Changer le mot de passe</h1>
      </div>
      <div class="card-body">
          <form (ngSubmit)="submitForm()">
              <p class="text-danger" *ngIf="hasError">Ancien mot de passe incorrecte</p>

              <div class="mb-3">
                  <label for="oldPassword" class="form-label">Ancien mot de passe </label>
                  <input name="oldPassword" [(ngModel)]="oldPassword" type="password" class="form-control"
                      id="oldPassword">
              </div>
              <div class="mb-3">
                  <label for="newPassword" class="form-label">Nouveau mot de passe</label>
                  <input name="newPassword" [(ngModel)]="newPassword" type="password" class="form-control"
                      id="newPassword">
              </div>
              <div class="mb-3">
                  <label for="repeatPassword" class="form-label">Répéter le mot de passe</label>
                  <input name="repeatPassword" [(ngModel)]="repeatPassword" type="password" class="form-control"
                      id="repeatPassword">
                  <p class="text-danger" *ngIf="newPassword !== repeatPassword">Les mots de passe ne correspondent pas!</p>

              </div>
              <button type="submit" class="btn btn-primary"
                  [disabled]="newPassword !== repeatPassword">Valider</button>
          </form>

      </div>

  </div>
</div>
