
<div class="container">
  <div class="row">
    <div class="col-md-4 ml-auto mr-auto">
       <form (ngSubmit)="addProduct()">

      <legend>Ajouter un produit</legend>
      <div class="mb-3">
        <label for="name" class="form-label">Nom du produit :</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Entrer un produit"
          [(ngModel)]="products.name">
      </div>
      <legend>Prix</legend>
      <div class="mb-3">
        <label for="price" class="form-label">Entrer un prix :</label>
        <input type="number" id="price" name="price" class="form-control" placeholder="Entrer un prix"
          [(ngModel)]="products.price">
      </div>
      <legend>Quantité</legend>
      <div class="mb-3">
        <label for="quantity" class="form-label">Entrer une quantité :</label>
        <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Entrer une quantité"
          [(ngModel)]="products.quantity">
      </div>
      <legend>Catégorie</legend>
      <div class="mb-3">
        <label for="Select" class="form-label">Séléctionner une catégorie :</label>
        <select [(ngModel)]="products.category" name="category" id="Select" class="form-select">
          <option *ngFor="let category of categories" [ngValue]="category">{{category.designation}}</option>
        </select>

      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Ajouter</button>
      </div>

    </form>
    </div>
   
  </div>
</div>