


<app-header></app-header>
<router-outlet></router-outlet>

<!-- <footer class="bg-light text-center text-lg-start min-vh-0">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright |
    <a class="text-dark" routerLink="/">GStock</a>
  </div>
</footer> -->