<p>edit-product works!</p>
<h1> Editer produit</h1>

<form (ngSubmit)="addProduct()">
    <label for="label">Nom :</label>
    <input type="text" id="label" name="label" [(ngModel)]="product.name">
    <label for="amount">Prix :</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="product.price">
    <button>Add</button>
</form>
