.selected {
  background-color: rgb(22, 97, 62);
}

.modal1 {
  position: relative;
  padding: 40px;
  width: 50%;
  min-height: 300px;
  background-color: white;
  box-shadow: 10px 10px 10px gray;
  margin: 0 auto;
  margin-top: 100px;
}

.bg-modal1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.112);
  top:0;
  left: 0;
}

.modal1 .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
