<div class="container">
  <div class="row">
  </div>
  <h4>  Passer une commande pour : {{product.name}}</h4>


  <button (click)="toggleModal()" [ngClass]="{'selected':modalOpen}" class="btn btn-primary">Commander</button>

  <div class="bg-modal1" *ngIf="modalOpen">
    <div class="modal1">

      <div class="modal-header">
        <h5 class="modal-title text-primary">{{product.name}}</h5>
        <button (click)="toggleModal()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <form>
        
        <!-- <h4>{{product.name}}</h4> -->
        <label for="quantity">Quantité :</label><br />
        <input type="number" id="quantity" name="quantity" [(ngModel)]="order.quantity">
      
        <br />
        <br />
        <label for="date">Date:</label><br />
        <input type="date" id="date" name="date" [(ngModel)]="order.date">
        <br />
        <br />
        <!-- <input type="submit" value="Envoyer" > -->
        <div class="modal-footer">
          <button (click)="saveProduct()" type="submit" class="btn btn-primary">Envoyer</button>
          <button (click)="toggleModal()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>

  <!-- ngif order -->
</div>