<div class="container">
  <div class="row">
    <h4>Rechercher un produit par nom</h4>

    <form (ngSubmit)="searchByName()">
      <label for="nameFilter">Filtre : </label><br />
      <input type="text" id="nameFilter" name="nameFilter" [(ngModel)]="nameFilter"/>
      <br />
      <br />
      <!-- <input type="submit" value="Rechercher" /> -->
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    <br />

    <table id="searchResults" class="table table-hover" *ngIf="displayResultList">
      <thead>
        <tr>

          <th scope="col">Nom</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <th scope="row">{{item.name}}</th>
          <td>{{item.quantity}}</td>
          <td>{{item.price|number:'0.2'}} €</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>