<div class="container">

  <div class="row">

    <h4 *ngIf="products" class="card-title">Liste de Produits</h4>
    <div class="table-responsive">
      <table *ngIf="products" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price|number:'0.2'}} €</td>
            <td><button (click)="showEditForm(item)" class="btn-info btn btn-sm">Modifier</button></td>
            <td><button (click)="delete(item.id!)" class="btn-danger btn btn-sm">Supprimer</button></td>
            <td><button (click)="order(item.id!)" class="btn-success btn btn-sm">Commander</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="displayEditForm">
      <h4>Modification du produit</h4>
      <form (ngSubmit)="update(modifiedPr)">
        <label for="name">Nom :</label><br />
        <input [(ngModel)]="modifiedPr.name" type="text" name="name" id="name">
        <br />
        <label for="quantity">Quantité:</label><br />
        <input [(ngModel)]="modifiedPr.quantity" type="number" name="quantity" id="quantity">
        <br />
        <label for="price">Prix :</label><br />
        <input [(ngModel)]="modifiedPr.price" type="number" name="price" id="price">
        <br />
        <br />
        <input type="submit" value="Enregister" class="btn btn-primary"/>
        <!-- <button type="submit" class="btn btn-primary">Enregister</button> -->
      </form>
    </div>
  </div>
</div>